* #wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    left: 4%;
    width: 1440px;
    height: 2652px;
}

#header {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

#left_header {
    width: 44%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#right_header {
    width: 43%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.nvarbar {
    padding: 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#choose_nvarbar {
    font-weight: bold;
    border-bottom: 4px solid rgb(0, 189, 214);
    color: rgb(0, 189, 214);
}

.right_header_item {
    padding-left: 20px;
}

#right_header_input {
    border-color: transparent;
    background-color: rgb(244, 244, 244);
    outline: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
}

#search_header {
    position: absolute;
    font-size: 18px;
    color: rgb(48, 46, 46);
    left: 19%;
}


/* ---------------content---------------------- */

#content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-left: 110px;
    padding-right: 110px;
    font-family: Arial, Helvetica, sans-serif;
}

#rating_title {
    display: flex;
}

#rating_share_save {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#share_save {
    display: flex;
    align-items: center;
}

#banner {
    display: flex;
    width: 100%;
    margin-top: 15px;
}

#banner_left {
    width: 56%;
}

#banner_right {
    width: 56%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#banner_right_top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 48%;
}

#banner_right_bot {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 48%;
}