* #wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 1440px;
    height: 2652px;
}

#header {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(244, 244, 244);
}

#left_header {
    width: 44%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#right_header {
    width: 43%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.nvarbar {
    padding: 15px;
    padding-bottom: 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#choose_nvarbar {
    font-weight: bold;
    border-bottom: 4px solid rgb(0, 189, 214);
    color: rgb(0, 189, 214);
}

.right_header_item {
    padding-left: 20px;
}

#right_header_input {
    border-color: transparent;
    background-color: rgb(244, 244, 244);
    outline: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
}

#search_header {
    position: absolute;
    font-size: 18px;
    color: rgb(48, 46, 46);
    left: 19%;
}


/* ---------------content---------------------- */

#content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-bottom: 100px;
    border-bottom: 2px solid rgb(244, 244, 244);
    padding-left: 110px;
    padding-right: 110px;
    font-family: Arial, Helvetica, sans-serif;
}

#rating_title {
    display: flex;
}

#rating_share_save {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#share_save {
    display: flex;
    align-items: center;
}

#banner {
    display: flex;
    width: 100%;
    margin-top: 15px;
}

#banner_left {
    width: 56%;
}

#banner_right {
    width: 56%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#banner_right_top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 48%;
}

#banner_right_bot {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 48%;
}

#Product_description {
    display: flex;
    margin-top: 45px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 2px solid rgb(244, 244, 244);
}

#Product_description_left {
    display: flex;
    flex-direction: column;
    width: 65%;
}

#Product_description_right {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 20px;
    border: 1px solid rgb(244, 244, 244);
}

#description {
    font-size: 15px;
    margin-top: 25px;
}

#description_left_bottom {
    display: flex;
    margin-top: 38px;
}

#description_left_bottom_1 {
    display: flex;
    flex-direction: column;
    margin-right: 45px;
}

#description_left_bottom_2 {
    display: flex;
    flex-direction: column;
}

.description_left_bottom_item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.selection {
    height: 40px;
    border: transparent;
    border-radius: 3px;
    outline: none;
    background-color: rgb(244, 244, 244);
    margin-bottom: 15px;
    padding: 10px;
}

#Total {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#Buy_Now_Button {
    margin-top: 20px;
    height: 45px;
    background-color: rgb(0, 189, 214);
    color: white;
    border-color: transparent;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}

#At_to_cart_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 45px;
    background-color: white;
    color: rgb(0, 189, 214);
    border-color: rgb(0, 189, 214);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}
#reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(244, 244, 244);
}
#Reviews_titles{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
    margin-bottom: 35px;
}
#Reviews_titles_left{
    display: flex;
    align-items: center;
}
#Reviews_titles_right{
    color: rgb(163, 163, 163);
    text-decoration: none;
    font-size: 15px;
    margin-right: 10px;
    align-items: center;
    transition: 2s;
}
#Reviews_titles_right:hover{
    color: black;
}
.comment_review{
    display: flex;
    width: 100%;
    margin-bottom: 40px;
}
#user_comment{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#avatar_name{
    display: flex;
}
#name_rating{
    display: flex;
    flex-direction: column;
}
#name_rating > #rating{
    width: 52.5%;
}
#name_rating > #name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 3px;
    margin-top: 1px;
}
#avatar_name >#avatar{
    margin-right: 12px;
    margin-bottom: 12px;
}
#user_comment > #comment{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15.5px;
}
#related_products{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}
#related_product_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
#Product_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.product{
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 1px solid rgb(244, 244, 244);
    border-radius: 5px;
    overflow: hidden;
}
.Product_information{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    align-items: center;
}
.product:hover{
    transform: translateX(2px) translateY(2px);
    box-shadow: 2px 2px 2px black;
    transition: 1s;
}
#footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 70px;
}
#input_email{
    display: flex;
    align-self: center;
    width: fit-content;
    overflow: hidden;
    position: relative;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-bottom: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
#subcribe_input{
    width: 262px;
    background-color: rgb(244, 244, 244);
    height: 35px;
    outline: none;
    border-color: transparent;
}
#subribe_button{
    width: 115px;
    background-color: rgb(0, 189, 214);
    color: white;
    outline: none;
    border-color: transparent;
}
#email_icon{
    position: absolute;
    top: 28%;
    left: 2%;
}
#footer_menu{
    display: flex;
    width: 735px;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
}
.footer_menu_item{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.footer_menu_item_title{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
}
.footer_menu_item_des > a{
    text-decoration: none;
    color: gray;
}
.footer_menu_item_des > a:hover{
    color: black;
    transition: 1s;
}
.footer_menu_item_des{
    margin-bottom: 10px;
}
#footer_language_linking{
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    padding-left: 110px;
    padding-right: 110px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: space-between;
}
#select_language{
    width: 130px;
    height: 35px;
    padding: 6px;
    border: transparent;
    outline: none;
    background-color: rgb(244, 244, 244);
    font-size: 14.5px;
    border-radius: 5px;
}
#linking{
    display: flex;
    justify-content: space-around;
    width: 13%;
}